server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: ms-auth-test
          uri: http://ms-auth-test:8095
          predicates:
            - Path=/auth-test/**
          filters:
            - StripPrefix=1
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8081/realms/tpi-backend}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:http://localhost:8081/realms/tpi-backend/protocol/openid-connect/certs}
