spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/tpi-backend
          jwk-set-uri: http://localhost:8081/realms/tpi-backend/protocol/openid-connect/certs
