version: '3.1' 
services: 
  keycloak: 
    image: quay.io/keycloak/keycloak:24.0.3 
    container_name: keycloak 
    command:
      - start-dev
      - --import-realm
      - --hostname-strict=false
      - --hostname-strict-https=false
    ports: 
      - "8081:8080" 
    environment: 
      - KEYCLOAK_ADMIN=admin 
      - KEYCLOAK_ADMIN_PASSWORD=admin123
#      - KC_HOSTNAME=localhost
#      - KC_HOSTNAME_PORT=8081
#      - KC_HOSTNAME_STRICT=false
#      - KC_HOSTNAME_STRICT_HTTPS=false
    volumes: 
      - ./realm-export.json:/opt/keycloak/data/import/realm.json:ro
      - keycloak_data:/opt/keycloak/data 
volumes:
  keycloak_data: