server:
  port: 8080

spring:
  application:
    name: gateway

  cloud:
    gateway:
      httpclient:
        wiretap: true
      httpserver:
        wiretap: true

      routes:
        - id: ms-auth-test
          uri: http://ms-auth-test:8095
          predicates:
            - Path=/public/**, /secured/**, /admin-only/**
          filters:
            - StripPrefix=0

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/tpi-backend
